src/main/mule/banking-services.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="banking-services-config" api="resource::20456335-ad80-443f-bf0f-ce31f11b2174:banking-services:1.0.9:raml:zip:banking-services.raml" outboundHeadersMapName="outboundHeadersMapName" httpStatusVarName="httpStatus" />
    <flow name="banking-services-main">
        <http:listener config-ref="httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="banking-services-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST" enableNotifications="true" logException="true">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="e2805976-ec50-4456-be6c-080abf1fbe99">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="5864dffd-8d60-4d07-9bc7-250f625adb16">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="banking-services-console">
        <http:listener config-ref="httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="banking-services-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\customers\(id):banking-services-config">
		<flow-ref doc:name="CALL deleteCustomerByIdFlow" doc:id="7d303cf4-edc0-43bf-9eee-c8380cd65d0d" name="deleteCustomerByIdFlow"/>
    </flow>
    <flow name="patch:\customers\(id):application\json:banking-services-config">
        <flow-ref doc:name="CALL updateCustomerByIdFlow" doc:id="7361f022-28c9-47ab-9080-8acc3085daa6" name="patchCustomerByIdFlow" />
    </flow>
    <flow name="get:\customers:banking-services-config">
        <flow-ref doc:name="CALL getCustomerByUsername Flow" doc:id="547fdd6b-235f-4dbc-b5b7-ab4f5f0493a3" name="getCustomerByUsernameFlow" />
    </flow>
    <flow name="get:\transactions:banking-services-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  customer: {
    custId: 1,
    firstName: "Max",
    lastName: "Mule",
    phoneNumber: "1234567890",
    emailAddress: "maxmule@mulesoft.com",
    userName: "maxmule",
    hashedPassword: "KzhyBhLJ7NKBtpWEF/HAQHB2693pC7ZGLVe64qzZ2cmCzKmta1uV9YE95O",
    hashedSalt: "KzhyBhLJ7NKBtpWEF/HAQHB2693pC7ZGLVe64qzZ2cmCzKmta1uV9YE95OtSXJslp"
  },
  checking: {
    accountInfo: {
      accountNumber: "CHK123",
      currentBalance: 12345.67,
      terms: {
        overdraftFee: 25.00,
        feeRequired: true
      }
    },
    transactions: {
      transList: [
        {
          transactionTimestamp: 1574436958094,
          accountNumber: "CHK123",
          amount: 123.45,
          transactionType: "Withdrawal"
        }, 
        {
          transactionTimestamp: 1574436958095,
          accountNumber: "CHK123",
          amount: 234.56,
          transactionType: "Deposit"
        }
      ],
      lastTrans: {
        transactionTimestamp: 1574436958095,
        accountNumber: "CHK123",
        amount: 234.56,
        transactionType: "Deposit"
      }
    }
  },
  savingAccount: {
    accountInfo: {
      accountNumber: "SAV123",
      currentBalance: 3456.78,
      interestEarned: 23.45,
      terms: {
        minBalance: 100.00,
        interestRate: 0.04,
        serviceFee: 25.00,
        feeRequired: true
      }
    },
    transactions: {
      transList: [
        {
          transactionTimestamp: 1574436958094,
          accountNumber: "SAV123",
          amount: 123.45,
          transactionType: "Withdrawal"
        }, 
        {
          transactionTimestamp: 1574436958095,
          accountNumber: "SAV123",
          amount: 234.56,
          transactionType: "Deposit"
        }
      ],
      lastTrans: {
        transactionTimestamp: 1574436958095,
        accountNumber: "SAV123",
        amount: 234.56,
        transactionType: "Deposit"
      }
    }
  },
  loanAccount: {
    accountInfo: {
      accountNumber: "LOA123",
      currentBalance: -1234.67,
      amountPaidThisMonth: 123.45,
      interestPaidThisMonth: 23.45,
      terms: {
        monthlyPaymentAmount: 123.45,
        monthlyInterestRate: 0.0083333,
        lateFee: 25.00,
        termYears: 5,
        creditLimit: 5000.00,
        feeRequired: true
      }
    },
    transactions: {
      transList: [
        {
          transactionTimestamp: 1574436958094,
          accountNumber: "LOA123",
          amount: 123.45,
          transactionType: "Withdrawal"
        }, 
        {
          transactionTimestamp: 1574436958095,
          accountNumber: "LOA123",
          amount: 234.56,
          transactionType: "Payment"
        }
      ],
      lastTrans: {
        transactionTimestamp: 1574436958095,
        accountNumber: "LOA123",
        amount: 234.56,
        transactionType: "Payment"
      }
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\transactions\(id):banking-services-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  customer: {
    custId: 1,
    firstName: "Max",
    lastName: "Mule",
    phoneNumber: "1234567890",
    emailAddress: "maxmule@mulesoft.com",
    userName: "maxmule",
    hashedPassword: "KzhyBhLJ7NKBtpWEF/HAQHB2693pC7ZGLVe64qzZ2cmCzKmta1uV9YE95O",
    hashedSalt: "KzhyBhLJ7NKBtpWEF/HAQHB2693pC7ZGLVe64qzZ2cmCzKmta1uV9YE95OtSXJslp"
  },
  checking: {
    accountInfo: {
      accountNumber: "CHK123",
      currentBalance: 12345.67,
      terms: {
        overdraftFee: 25.00,
        feeRequired: true
      }
    },
    transactions: {
      transList: [
        {
          transactionTimestamp: 1574436958094,
          accountNumber: "CHK123",
          amount: 123.45,
          transactionType: "Withdrawal"
        }, 
        {
          transactionTimestamp: 1574436958095,
          accountNumber: "CHK123",
          amount: 234.56,
          transactionType: "Deposit"
        }
      ],
      lastTrans: {
        transactionTimestamp: 1574436958095,
        accountNumber: "CHK123",
        amount: 234.56,
        transactionType: "Deposit"
      }
    }
  },
  savingAccount: {
    accountInfo: {
      accountNumber: "SAV123",
      currentBalance: 3456.78,
      interestEarned: 23.45,
      terms: {
        minBalance: 100.00,
        interestRate: 0.04,
        serviceFee: 25.00,
        feeRequired: true
      }
    },
    transactions: {
      transList: [
        {
          transactionTimestamp: 1574436958094,
          accountNumber: "SAV123",
          amount: 123.45,
          transactionType: "Withdrawal"
        }, 
        {
          transactionTimestamp: 1574436958095,
          accountNumber: "SAV123",
          amount: 234.56,
          transactionType: "Deposit"
        }
      ],
      lastTrans: {
        transactionTimestamp: 1574436958095,
        accountNumber: "SAV123",
        amount: 234.56,
        transactionType: "Deposit"
      }
    }
  },
  loanAccount: {
    accountInfo: {
      accountNumber: "LOA123",
      currentBalance: -1234.67,
      amountPaidThisMonth: 123.45,
      interestPaidThisMonth: 23.45,
      terms: {
        monthlyPaymentAmount: 123.45,
        monthlyInterestRate: 0.0083333,
        lateFee: 25.00,
        termYears: 5,
        creditLimit: 5000.00,
        feeRequired: true
      }
    },
    transactions: {
      transList: [
        {
          transactionTimestamp: 1574436958094,
          accountNumber: "LOA123",
          amount: 123.45,
          transactionType: "Withdrawal"
        }, 
        {
          transactionTimestamp: 1574436958095,
          accountNumber: "LOA123",
          amount: 234.56,
          transactionType: "Payment"
        }
      ],
      lastTrans: {
        transactionTimestamp: 1574436958095,
        accountNumber: "LOA123",
        amount: 234.56,
        transactionType: "Payment"
      }
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers\(id):banking-services-config">
        <flow-ref doc:name="CALL getCustomerByIdFlow" doc:id="a614db15-1749-4e52-a941-d11400289194" name="getCustomerByIdFlow" />
    </flow>
    <flow name="post:\customers:application\json:banking-services-config">
        <flow-ref doc:name="CALL postCustomersFlow" doc:id="fc0701bc-4c1e-417b-9349-49589e20ffc4" name="postCustomersFlow" />
    </flow>
    <flow name="post:\transactions\(id):application\json:banking-services-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Transaction added (not really, still UNIMPLEMENTED)"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
